//colors
$primary-color: #ff853c;
$white: #fff;
$gray: #555;
$light-gray:#999;
$smooth-gray: #f1f1f1;
$border: #e3e3e3;
$alert: #D91E18;

// Mixins
@mixin init() {
	margin: 0;
	padding: 0;
}

// Media querys 
$large-desktop: 1280px;
$desktop: 1024px;
$tablet: 768px;

@mixin media-min($width) {

	@media screen and (min-width: #{$width}) {
		@content;
	};
}
@mixin media-max($width) {

	@media screen and (max-width: #{$width}) {
		@content;
	};
}
