//colors
$primary-color: #ff853c;
$white: #fff;
$gray: #555;


// Mixins
@mixin init() {
	margin: 0;
	padding: 0;
}

// Media querys 
$desktop: 1024px;
$table: 768px;

@mixin media-min($width) {

	@media screen and (min-width: #{$width}) {
		@content;
	};
}
@mixin media-max($width) {

	@media screen and (max-width: #{$width}) {
		@content;
	};
}