//colors
$primary-color: #ff853c;
$white: #fff;
$dark-gray: #999;


// Mixins
@mixin init() {
	margin: 0;
	padding: 0;
}

// Media querys 
$desktop: 1024px;
$table: 768px;

@mixin media($width) {

	@media screen and (min-width: #{$width}) {
		@content;
	};
}