@import 'depen.scss';

// Parent container
.landing {
	@include init();
	font-family: $roboto;
	font-size: 1.15em;

	* {
		@include init();
	}

	h1 {
		font-size: 1.3em;
		font-family: "Roboto Slab";
		display: inline-block;
	}

	@include media-min($desktop) {
		h1 {
			font-size: 2em;
		}
	}

	header {
		display: block;
		background-color: $primary-color;
		padding: .7em 1.2em;
		h1{
			font-size: 1.6em;
		}
		@include media-min($desktop){
			padding: .7em 2em;
		}
	}

	a {
		color: $white;
		text-decoration: none;
		display: inline-block;
	}

	nav {
		display: inline-block;
		float: right;
	
		ul {
			display: block;
	
			li {
				list-style-type: none;
				display: inline-block; 
				padding: .6em .5em;
				@include media-max($desktop - 1px) {
					a.conocenos {
						height: 6px;
						border-top: 3px solid $white;
						border-bottom: 3px solid $white;
						&:before{
							content: "";
							position: absolute;
							right: 20px;
							top: 1.2em;
							width: 1.3em;
							height: 0.19em;
							background:$white;
							box-shadow: 
							    0 0.4em 0 0 $white,
							    0 0.8em 0 0 $white;
						}
					}
				}

				// FIXME
				@include media-min($desktop) {
					a.conocenos:before {
						content: "Conocenos";
						display: inline-block;
					}

					a.trabajos {
						&:before {
							content: "Trabajos";
						}
					}

					a.contacto {
						&:before {
							content: "Contactanos";
						}
					}
				}
			}
		}
	}
	#slider {
		padding: 2.5em 1em;
		.one-half{
			width: 100%;
		}
		@include media-min($desktop) {
			.one-half {
				width: 50%;
				display: inline-block;
			}
			.right {
				width: 40%;
				display: inline-block;
				vertical-align: top;
				margin-left: 60px;
				margin-top: 61px;
				color: $gray;
				p {
					line-height: 2.4em;
					font-weight: 300;
				}
				h1{
					margin-bottom: .4em;
				}
			}
		}
	}
	img{
		width: 100%;
	}
}
