<div class="landing">
	<header>
		<h1>
			<a href="#">Talleres Possa</a>
		</h1>
		<nav>
			<ul>
				<li><a class="conocenos" href="#"></a></li>
				<li><a class="trabajos" href="#"></a></li>
				<li><a class="contacto" href="#"></a></li>
			</ul>
		</nav>
	</header>
	<section id='slider'>
		<div class="one-half">
			<img src="img/autoelevador-1.jpg" alt="autoelevador">
		</div>
		<div class="right">
			<h1>Sobre Nosotros</h1>
			<p>Lorem ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit amet deri susum.</p>
		</div>
	</section>
	<section id='jobs'>
		<h1>Trabajos</h1>
		<div class="container">
			<div class="one-third-colum">
		    	<img src="img/autoelevador-1.jpg"/>
		    	<img src="img/autoelevador-2.jpg"/>
		    	<img src="img/autoelevador-3.jpg"/>
		    </div>
			<div class="one-third-colum">
		    	<img src="img/autoelevador-3.jpg"/>
		    	<img src="img/autoelevador-2.jpg"/>
		    	<img src="img/autoelevador-1.jpg"/>
		    </div>
		    <div class="one-third-colum">
		    	<img src="img/autoelevador-2.jpg"/>
		    	<img src="img/autoelevador-1.jpg"/>
		    	<img src="img/autoelevador-3.jpg"/>
		    </div>
		</div>
	</section>
	<section id='contact'>
		<h1>Contacto</h1>
		<form>
	      <input type="text" placeholder="Nombre" required="required" class="one-half" />
	      <input type="email" placeholder="E-mail" required="required" class="one-half" />
	      <input type="text" placeholder="Asunto" required="required" />
	      <textarea name="Message">Message</textarea>
	      <button>Send Message</button>
	    </form>
	    <div class="info">
	    	<p>Lorem ipsum dolor sit amet serat derilum onclatum destteran omni put vulumn goratim sus</p>
	    	<div class="adress">
	    		<i class="fa fa-map-marker"></i>
	    		<p>Lorem ipsum dolor 3281</p>
	    	</div>
	    	<div class="phone">
	    		<i class="fa fa-mobile"></i>
	    		<p>(+598) 91 123 546</p>
	    	</div>
	    	<div class="mail">
	    		<i class="fa fa-envelope"></i>
	    		<p>Talleres.Possa@mail.com</p>
	    	</div>
	    </div>
	</section>
</div>