<div class="landing">
	<div class="menu" ng-class="{'disable': landing.openMenu}">
		<nav>
			<ul>
				<li><a href="#slider">Conocenos</a></li>
				<li><a href="#jobs">Trabajos</a></li>
				<li><a href="#contact">Contacto</a></li>
			</ul>
		</nav>
	</div>
	<header>
		<h1>
			<a href="#">Talleres Possa</a>
		</h1>
		<nav>
			<ul>
				<li><a class="conocenos"></a></li>
				<li><a class="trabajos"></a></li>
				<li ng-click="landing.openMenu = !landing.openMenu"><a class="contacto"></a></li>
				<li ng-click="landing.openMenu = !landing.openMenu" class="hamburguer"></li>
			</ul>
		</nav>
	</header>
	<section id='slider' class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="one-half">
					<img src="img/autoelevador-1.jpg" alt="autoelevador">
				</div>
				<div class="right">
					<h1>Sobre Nosotros</h1>
					<p>Lorem ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit amet deri susum ancostum deli amet serat cosum derat erit ipsum dolor sit amet serat cosum</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="one-half">
					<img src="img/autoelevador-1.jpg" alt="autoelevador">
				</div>
				<div class="right">
					<h1>Sobre Nosotros</h1>
					<p>Lorem ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit amet deri susum ancostum deli amet serat cosum derat erit ipsum dolor sit amet serat cosum</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="one-half">
					<img src="img/autoelevador-1.jpg" alt="autoelevador">
				</div>
				<div class="right">
					<h1>Sobre Nosotros</h1>
					<p>Lorem ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit ipsum dolor sit amet serat cosum derat erit ancostum deli amet serat cosum derat erit amet deri susum ancostum deli amet serat cosum derat erit ipsum dolor sit amet serat cosum</p>
				</div>
			</div>
		</div>
		 <!-- Add Pagination -->
    	<div class="swiper-pagination"></div>
	</section>
	<section id='jobs'>
		<h1>Trabajos</h1>
		<div class="container">
			<div class="one-third-column">
		    	<img src="img/job6.jpg"/>
		    	<img src="img/job2.jpg"/>
		    	<img src="img/job3.jpg"/>
		    </div>
			<div class="one-third-column">
		    	<img src="img/job4.jpg"/>
		    	<img src="img/job5.jpg"/>
		    	<img src="img/job7.jpg"/>
		    </div>
		</div>
	</section>
	<section id='contact'>
		<h1>Contacto</h1>
		<form class="one-half">
	      <input type="text" placeholder="Nombre"
								required="required" class="one-half"
								ng-model="landing.name"/>
	      <input type="text" placeholder="E-mail"
							 required="required" class="one-half right"
							 ng-model="landing.email"/>
	      <input type="text" placeholder="Asunto"
							 required="required" ng-model="landing.subject"/>
	      <label for="message">Mensaje</label>
	      <textarea name="Message" ng-model="landing.description"></textarea>
	      <div>
	      	<p class="small" ng-bind="landing.err"></p>
					<p class="small" ng-bind="landing.errDes"></p>
	      </div>
	      <button ng-click="landing.sendEmail()">Enviar</button>
	    </form>
	    <div class="info">
	    	<p>Lorem ipsum dolor sit amet serat derilum onclatum destteran omni put vulumn goratim sus delirum dora</p>
	    	<div class="icons">
		    	<div class="adress inline">
		    		<i class="fa fa-map-marker"></i>
		    		<p>Lorem ipsum dolor 3281</p>
		    	</div>
		    	<div class="phone inline">
		    		<i class="fa fa-mobile"></i>
		    		<p>(+598) 91 123 546</p>
		    	</div>
		    	<div class="mail inline">
		    		<i class="fa fa-envelope"></i>
		    		<p>Talleres.Possa@mail.com</p>
		    	</div>
	    	</div>
	    </div>
	</section>
	<footer>
		<div class="icons">
			<a class= "inline" href="https://github.com/ilianan">
				<i class="fa fa-github"></i>
				<p class="small-width">Iliana Núñez</p>
			</a>
			<a class="inline" href="https://github.com/SebastianRosadilla">
				<i class="fa fa-github"></i>
				<p class="width">Sebastian Rosadilla</p>
			</a>
	    	<div class="adress inline">
	    		<i class="fa fa-map-marker"></i>
	    		<p>Lorem ipsum dolor 3281</p>
	    	</div>
	    	<div class="phone inline">
	    		<i class="fa fa-mobile"></i>
	    		<p class="width">(+598) 91 123 546</p>
	    	</div>
	    	<div class="mail inline">
	    		<i class="fa fa-envelope"></i>
	    		<p>Talleres.Possa@mail.com</p>
	    	</div>
    	</div>
	</footer>
</div>
